In [1]:
import os
# os.environ["WANDB_SILENT"] = "true"

os.environ["CUDA_DEVICE_ORDER"]="PCI_BUS_ID"
os.environ["CUDA_VISIBLE_DEVICES"]="0"
print(os.environ["CUDA_VISIBLE_DEVICES"])

0

In [2]:
from pathlib import Path
import json
import pandas as pd
import numpy as np

In [3]:
ROOT = Path('/gaueko0/users/nmishra/multiling_fludetection/data')
translated_dir = ROOT.joinpath('translated/revisedcateg')
PARAMS_FILE = Path('/gaueko0/users/nmishra/multiling_fludetection/params_revisedcateg.tsv')
OUT_PATH = Path('/gaueko0/users/nmishra/multiling_fludetection/evals/eval_revisedcateg')

In [4]:
# load all data
all_data_revised = pd.read_csv(ROOT.joinpath('all').joinpath('alldata_revised.csv'))
all_data_revised.shape

(4284, 6)

In [5]:
# load splits for all data
params = pd.read_csv(PARAMS_FILE, sep='\t')
SPLITS = params['split'].unique()

## Store translated data as one file

In [10]:
translation_type = 'one_to_many'

In [13]:
dir_path = translated_dir.joinpath(translation_type)
all_files = [i for i in dir_path.glob("*.csv")]
translated_df = pd.concat([pd.read_csv(file) for file in all_files])
translated_df.reset_index(inplace=True, drop=True)
print(translated_df.shape)
translated_df.to_csv(ROOT.joinpath('all').joinpath(f'all_{translation_type}_revisedcateg.csv'))

(21420, 6)

## Get the ids associated with each split per language

In [14]:
# load original split index

# for split in SPLITS:
split = SPLITS[0]
print(split)

# read data split index
dirname = f"testset{split.replace(',','_')}"
split_path = OUT_PATH.joinpath(dirname)
print(f"Reading data split index from: {split_path}")
with open(split_path.joinpath('split_idx.json'), 'r') as f:
    split_idx = json.load(f) 

# get associated ids
split_id = {}
for lang, splits_dict in split_idx.items():
    lang_split_id = {}
    for split_type, idx in splits_dict.items():
        print(lang, split_type)
        print(idx[:5])
        sub_df = all_data_revised.iloc[idx]['id'].values
        print(sub_df[:5])
        lang_split_id[split_type] = all_data_revised.iloc[idx]['id'].values
    split_id[lang] = lang_split_id

0.6,0.2,0.2
Reading data split index from: /gaueko0/users/nmishra/multiling_fludetection/evals/eval_revisedcateg/testset0.6_0.2_0.2
de train_idx
[2101, 1787, 62, 2179, 1750]
[1597797277451501568 1182462946317873153 1214186658020700160
 1132278455377244160 1072053340866076672]
de test_idx
[379, 2155, 1948, 2031, 1858]
[1632035048521101314 1078046643847659521 1050646360775507969
 1289189394134441985 1358670154939338757]
de valid_idx
[329, 291, 331, 2325, 1977]
[1476731020183543810 1327662484707299332 1356587864973316098
 1631238122406133761 1081271631497101312]
en train_idx
[416, 449, 540, 445, 435]
[1065631825840750592 1060956170981122049 1089985045316530176
 1066849485198897152 1057296139299491840]
en test_idx
[529, 475, 503, 568, 512]
[1115406640201621505 1046020176796364801 1103029957914230785
 1095026877322878976 1106334001491521536]
en valid_idx
[487, 556, 421, 513, 557]
[1084219395423911937 1093763112254226432 1050673056639680512
 1083773686182805506 1121555076097748993]
es train_idx
[742, 650, 845, 2997, 3051]
[1538618165105762306 1326987008066154497 1325194248325566467
 1328226012942000128 1365781731224285192]
es test_idx
[2773, 2503, 2605, 2809, 2884]
[1145023753405026305 1577388721661530112 1223103368198930434
 1333786441818619904 1536409419558178816]
es valid_idx
[3016, 2955, 2738, 2371, 2543]
[1377266273139187715 1111039509402140679 1096229902788055040
 1158558807934607360 1173137241813725184]
fr train_idx
[3567, 3508, 3476, 3228, 1246]
[ 653682962786091008  153057718578581504 1540410501133377536
 1041320512926957568  811484535997272064]
fr test_idx
[3358, 1296, 1270, 1305, 3604]
[ 301025159677100033 1110251830695612424  986659956005982208
 1342904263492710401 1024690457769660417]
fr valid_idx
[3229, 1153, 3463, 1284, 3206]
[ 966226887293984768 1609473034531880960 1379472976358350849
 1093563528684933121  822750322175201280]
it train_idx
[1479, 1425, 4084, 4025, 1569]
[1397711698526715907 1298933686713319424 1619380115351420928
 1351783742218629121 1174056137429344256]
it test_idx
[1666, 4237, 4005, 3858, 4223]
[1407673299769909251 1481370481227931652 1431224288338665478
 1506277372613562378 1418944111487463430]
it valid_idx
[4068, 4037, 1713, 3906, 4074]
[1544276603676524546 1537709444653621248 1581623348038991872
 1110270539900309504 1617953382999928832]

In [16]:
# check each index is uniquely placed in one split type of one language only
n = np.random.randint(0, all_data_revised.shape[0])
print(n)
test_df = pd.DataFrame.from_dict(split_idx)
test_df[test_df.map(lambda x: n in x)]

2610

,de,en,es,fr,it
train_idx,NaN,NaN,"[742, 650, 845, 2997, 3051, 696, 2626, 2806, 2...",NaN,NaN
test_idx,NaN,NaN,NaN,NaN,NaN
valid_idx,NaN,NaN,NaN,NaN,NaN

In [18]:
# check each id is uniquely placed in one split type of one language only
n = all_data_revised['id'].sample(n=1).values
print(n)
test_df = pd.DataFrame.from_dict(split_id)
test_df[test_df.map(lambda x: n in x)]
# test_df

[1143333947004399617]

,de,en,es,fr,it
train_idx,NaN,NaN,"[1538618165105762306, 1326987008066154497, 132...",NaN,NaN
test_idx,NaN,NaN,NaN,NaN,NaN
valid_idx,NaN,NaN,NaN,NaN,NaN

## Get subsequent index for these ids in the translated dataframe 
#### (for each split and each language)

In [19]:
onetomany_split_idx = {}
for lang, splits_dict in split_id.items():
    onetomany_lang_split_idx = {}
    for split_type, ids in splits_dict.items():                       # for each split in each language
        print(lang, split_type)
        sub_df = translated_df[translated_df['id'].isin(ids)]         # take only the id that exists in revised split_idx for that langauge
        print(f'  {sub_df.shape[0]/5}')
        # print(sub_df[['id','lang']].head())
        onetomany_lang_split_idx[split_type] = sub_df.index.tolist()  # get the index of the selected ids and save into respective split
    onetomany_split_idx[lang] = onetomany_lang_split_idx

de train_idx
  579.0
de test_idx
  194.0
de valid_idx
  194.0
en train_idx
  117.0
en test_idx
  40.0
en valid_idx
  39.0
es train_idx
  698.0
es test_idx
  233.0
es valid_idx
  233.0
fr train_idx
  576.0
fr test_idx
  193.0
fr valid_idx
  192.0
it train_idx
  597.0
it test_idx
  200.0
it valid_idx
  199.0

In [20]:
# check each index is uniquely placed in one split type of one language only
n = np.random.randint(0, translated_df.shape[0])
print(n)
test_df = pd.DataFrame.from_dict(onetomany_split_idx)
test_df[test_df.map(lambda x: n in x)]

7412

,de,en,es,fr,it
train_idx,NaN,NaN,NaN,NaN,"[5830, 5831, 5832, 5833, 5834, 5835, 5836, 583..."
test_idx,NaN,NaN,NaN,NaN,NaN
valid_idx,NaN,NaN,NaN,NaN,NaN

In [22]:
# save the split index
print(split_path.joinpath(f'{translation_type}_split_idx.json'))
with open(split_path.joinpath(f'{translation_type}_split_idx.json'), 'w') as f:
    json.dump(onetomany_split_idx, f)

/gaueko0/users/nmishra/multiling_fludetection/evals/eval_revisedcateg/testset0.6_0.2_0.2/one_to_many_split_idx.json

## Combine ids associated with each split for all languages
- train, valid and test split for each language will be the train, valid and test split for all languages
- because in one to many

In [53]:
all_split_ids = pd.DataFrame(split_id).apply(lambda row: row.tolist(), axis=1)
all_split_ids = all_split_ids.apply(lambda row: [item for eachlist in row for item in eachlist])
all_split_ids = all_split_ids.to_dict()
all_split_ids['train_idx'][:10]

[1597797277451501568,
 1182462946317873153,
 1214186658020700160,
 1132278455377244160,
 1072053340866076672,
 1559210759783157762,
 1137258336209002496,
 1116070009174921217,
 1417581177934958593,
 1130751529441476608]

In [65]:
translated_df.head(10)

,id,final_annotation,tweet,lang,year,overlap
0,1058586475737047040,1. Likely ILI infection,"@user Je ne suis pas sûr, Federer a eu une bon...",fr,2018,1
1,1058586475737047040,1. Likely ILI infection,"@user I'm not sure, Federer has been having a ...",en,2018,1
2,1058586475737047040,1. Likely ILI infection,"@user Non ne sono sicuro, Federer ha avuto una...",it,2018,1
3,1058586475737047040,1. Likely ILI infection,"@user Ich bin mir nicht sicher, Federer hatte ...",de,2018,1
4,1058586475737047040,1. Likely ILI infection,"@user No estoy seguro, Federer lleva buena sem...",es,2018,1
5,1050092005806751747,3. Not Related to ILI or COVID-19 Infection,"Cette semaine, ils se font vacciner contre la ...",fr,2018,1
6,1050092005806751747,3. Not Related to ILI or COVID-19 Infection,This week they get a flu shot and Alba doesn't...,en,2018,1
7,1050092005806751747,3. Not Related to ILI or COVID-19 Infection,Questa settimana viene fatto un vaccino antinf...,it,2018,1
8,1050092005806751747,3. Not Related to ILI or COVID-19 Infection,Diese Woche bekommen sie eine Grippeimpfung un...,de,2018,1
9,1050092005806751747,3. Not Related to ILI or COVID-19 Infection,Esta semana les pinchan de la gripe y Alba no ...,es,2018,1

In [112]:
onetomany_split_idx = {}
for lang, splits_dict in split_id.items():
    onetomany_lang_split_idx = {}
    for split_type, ids in splits_dict.items():                       # for each split in each language
        print(lang, split_type)
        sub_df = translated_df[translated_df['id'].isin(ids)]         # take only the id that exists in revised split_idx for that langauge
        print(f'  {sub_df.shape[0]/5}')
        # print(sub_df[['id','lang']].head())
        onetomany_lang_split_idx[split_type] = sub_df.index.tolist()  # get the index of the selected ids and save into respective split
    onetomany_split_idx[lang] = onetomany_lang_split_idx

de train_idx
  579.0
de test_idx
  194.0
de valid_idx
  194.0
en train_idx
  117.0
en test_idx
  40.0
en valid_idx
  39.0
es train_idx
  698.0
es test_idx
  233.0
es valid_idx
  233.0
fr train_idx
  576.0
fr test_idx
  193.0
fr valid_idx
  192.0
it train_idx
  597.0
it test_idx
  200.0
it valid_idx
  199.0

In [118]:
n = np.random.randint(0, translated_df.shape[0])
print(n)
test_df = pd.DataFrame.from_dict(onetomany_split_idx)
test_df[test_df.map(lambda x: n in x)]

6681

,de,en,es,fr,it
train_idx,NaN,NaN,NaN,NaN,"[5830, 5831, 5832, 5833, 5834, 5835, 5836, 583..."
test_idx,NaN,NaN,NaN,NaN,NaN
valid_idx,NaN,NaN,NaN,NaN,NaN

PosixPath('/gaueko0/users/nmishra/multiling_fludetection/evals/eval_revisedcateg/testset0.6_0.2_0.2/onetomany_split_idx.json')

In [90]:
dir = 'many_one_to'
dir_path = translated_dir.joinpath(dir)
all_files = [i for i in dir_path.glob("*.csv")]
manytoone_split_idx = {}
for i in range(len(all_files)):
    file = all_files[i]
    df = pd.read_csv(file)
    lang = file.stem[:2]
    print(lang)
    
    train_ids = [i for i in split_id[j] for j in i if 'train' in i]
    # valid_ids = 
    # test_ids
    
    # manytoone_lang_split_idx = {}
    # for split, id in split_id[lang].items():
        
    #     manytoone_lang_split_idx[split] = df[df['id'].isin(id)].index.tolist()
    # manytoone_split_idx[lang] = manytoone_lang_split_idx

In [105]:
train_ids = [lang,splits for lang,splits in split_id.items()]

In [106]:
train_ids

[['d', 'e'], ['e', 'n'], ['e', 's'], ['f', 'r'], ['i', 't']]